<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lit - Guest</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
    <div id="blur_wrapper">
        <!-- HEADER -->
        <div class="container-fluid" id="header">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-8 col-md-4 col-md-offset-8">
                    <h3 class="site_title">Lit</h3>
                    <img class="logo" src="static/img/logo_trans.png">
                </div>
            </div>
            <div class="current_song_container">
                <div class="current_song_subcontainer">
                    <p id="now_playing">now playing:</p>
                    <h1 class="current_song_title">{{ now_playing_title }}</h1>
                </div>
            </div>

            <div class="up-next1">
                <h4>UP<br>NEXT</h4>
                <img class="left-triangle" src="static/img/left_triangle.png">
                </span>
            </div>
            <div class="up-next2">
                <h5 class="next_song_title">
                {% if queue|length > 0 %}
                    {{ queue[0].title }}
                {% else %}
                    Nothing is queued up
                {% endif %}
            
            </h5>
            </div>
            <div class="add_skip_container">
                <div class="add_skip_button" id="add_song">
                    <img class="add_skip_pic" src="static/img/plus.png">
                    <h4 class="add_skip_text">add song</h4>
                </div>
            </div>
        </div>
        <!-- SONG QUEUE -->
        <div class="container song_container">
            {% for song in queue %}


            <div class="row_container">
                <div class="song_title_container">
                    <h5 class="song_title">{{ song.title }}</h5>
                </div>

                {% if song.upvote %}
                <img id="{{ song.url }}" src="static/img/up_arrow_blue.png" class="vote_button_up" onclick="upvote(this.getAttribute('id'));">{% else %}
                <img id="{{ song.url }}" src="static/img/up_arrow_black.png" class="vote_button_up" onclick="upvote(this.getAttribute('id'));">{% endif %} {% if song.downvote %}
                <img id="{{ song.url }}" src="static/img/down_arrow_blue.png" class="vote_button_down" onclick="downvote(this.getAttribute('id'));">{% else %}
                <img id="{{ song.url }}" src="static/img/down_arrow_black.png" class="vote_button_down" onclick="downvote(this.getAttribute('id'));">{% endif %}



                <hr id="song_divider">
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- SEARCH MODAL -->
    <div id="search-modal">
        <div id="search-bg"></div>
        <div class="search-container">
            <img class="close-icon" src="static/img/close.png">
            <div id="search-input">
                <div class="input-group col-md-12">
                    <input id="search-input-field" type="text" class="form-control input-lg" placeholder="search youtube" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <img class="search-icon" src="static/img/search_icon_white.png">
                        </button>
                    </span>
                </div>
            </div>
            <hr>
            <div class="container-fluid search_results">

            </div>
        </div>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="static/js/js.cookie-2.1.0.min.js"></script>
    <script src="static/js/socket_events.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
