<!doctype html>

<head>
	<title> Audio Page </title>
	<link rel="stylesheet" href="static/css/nowPlaying_styles.css">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>

<body>

	<div id="header" style="position:relative;width:0px;height:25px;overflow:hidden;" >

		<div style="position:absolute;top:-270px;left:-5px">

			<iframe id="video" width="420" height="315" src="http://www.youtube.com/embed/qEGbjR1Y9Qo?autoplay=1&enablejsapi=1">
			</iframe>
		</div>

	</div>

	<h1 class="curr_song_title" align="center">
			POP POP IS BACK AGAIN
	</h1>

	<div class="container-fluid ">

		<div class = "button-row">

			<div class="col-xs-1 col-xs-offset-5 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">

				<div id="play-button" >
				</div>

			</div>

		</div>

	</div>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/nowplaying.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</body>
