@font-face {
    font-family: 'Sinkin-Sans100Thin';
    src: url('fonts/SinkinSans-100Thin.otf');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
	padding: none;
	margin: none;
}
/* HEADER */
body {
	background-image: url("../img/host_user_header_bg1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	position: relative;
}

#play-button {
	width:200px;
	height:200px;
	vertical-align:50%;
	background-image: url("../img/pause.png");
	background-size: 100%;
	cursor: pointer;
	border-radius: 50%;
	}

#play-button:hover{
	box-shadow: 0px 0px 20px #000;
}

.curr_song_title {
	font-family: 'Sinkin-Sans100Thin';
}

.vcenter {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

