
h1, h2, h3 {
	padding: none;
	margin: none;
}
/* HEADER */
body {
	background-image: url("../img/host_user_header_bg1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	position: relative;
}

#pause-button {
	width:200px;
	height:200px;
	vertical-align:50%;
	background-image: url("../img/pause.png");
	background-size: 100%;
}

#pause-button:hover {
	background-image: url("../img/pause_hover.png");
}

#play-button {
	width:200px;
	height:200px;
	vertical-align:50%;
	background-image: url("../img/play.png");
	background-size: 100%;
	}

#play-button:hover {
	background-image: url("../img/play_hover.png");
}

.container-fluid {
	position:"relative";
}

.row {
	position:"absolute";
	top:50%;
	transform:trasnlateY(-50%);
}