@font-face {
    font-family: 'Sinkin-Sans400Reg';
    src: url('fonts/SinkinSans-400Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin-Sans100Thin';
    src: url('fonts/SinkinSans-100Thin.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin-Sans100ThinItalic';
    src: url('fonts/SinkinSans-100ThinItalic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin-Sans200XLight';
    src: url('fonts/SinkinSans-200XLight.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin-Sans300Light';
    src: url('fonts/SinkinSans-300Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin-Sans400Italic';
    src: url('fonts/SinkinSans-400Italic.otf');
    font-weight: normal;
    font-style: normal;
}
body {
	position: relative;
}
h1, h2, h3 {
	padding: none;
	margin: none;
}
/* HEADER */
#header {
	background-image: url("../img/host_user_header_bg1.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 350px;
	height: 350px;
	position: relative;
    padding: 10px 30px 0px 0px;
}

/* INDEX */
#index-header {
    background-image: url("../img/index_header_bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 550px;
	height: 550px;
	position: relative;
    padding: 10px 30px 0px 0px;
    text-align: center;
}
.index-title {
    display: inline-block;
    font-family: 'Sinkin-Sans100Thin';
    font-size: 190px;
	color: white;
}
.index-logo {
    display: inline-block;
    vertical-align: top;
    width: 95px;
    margin-top: 16px;
    margin-right: 40px;
}
.index-logo-title {
    position: relative;
    top: 50px;
    margin: auto;
}
.index-nav {
    position: relative;
    top: 150px;
    margin: auto;
}
.index-button, .index-button:link, .index-button:visited {
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    font-family: 'Sinkin-Sans300Light';
    border: 2px solid #fff !important;
    width: 150px;
    margin: 0px 80px 0px 100px
}
.index-button:active, .index-button:hover {
    background-color: #0395d0;
    border: 2px solid #0395d0 !important;
    color: #fff
}
#index-body {
    position: relative;
    margin: 50px 20% 50px 20%
}
#index-body h2 {
    font-family: 'Sinkin-Sans200XLight';
}
hr {
    width: 30%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(3, 149, 208, 0), rgba(3, 149, 208, 0.75), rgba(3, 149, 208, 0));
    margin: 40px auto;
}
#index-body p {
    font-family: 'Sinkin-Sans300Light';
}
/* /INDEX */

/* HOST GUEST HEADER */
.site_title {
	font-family: 'Sinkin-Sans100Thin';
    font-size: 40px;
	color: white;
	float: right;
}
.logo {
	width: 25px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.current_song_container {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	overflow: auto;
}
.current_song_title {
	font-family: 'Sinkin-Sans100Thin';
    font-size: 50px;
	color: white;
}
.add_skip_container {
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.add_skip_button {
	cursor: pointer;
}
.add_skip_pic {
	width: 20px;
	float: left;
	margin: 8px 5px 0 0;
}
.add_skip_text {
	float: left;
	color: white;
	font-family: 'Sinkin-Sans100Thin';
}
/* /HOST GUEST HEADER */

/* SEARCH MODAL */
.search_modal {
	display: none;
	position: fixed;
	top: 25%;
	right: 50%;
	transform: translateX(50%);
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	width: 50%;
	height: 425px;
	
}
.search_icon {
	cursor: pointer;
}
.search_results {
	background-color: #0395d0;
	height: 275px;
	overflow: scroll;
}
.search_results::-webkit-scrollbar {
	width: .75em;
}
.search_results::-webkit-scrollbar-thumb {
	background-color: #057fb0;
	outline: 1px solid black;
	border-radius: 25px;
}
.add_plus_pic {
	width: 20px;
	padding-top: 7px;
	cursor: pointer;
}
.search_title {
	color: white;
	font-family: 'Sinkin-Sans100Thin';
}
.search_title_word {
	color: black;
	font-family: 'Sinkin-Sans100Thin';
	margin: 5% 0 0 7.5%;
}
.search_term {
	width: 75%;
	margin-left: 7.5%;
	height: 20px;
}
input[type="submit"] {
	height: 20px;
	width: 8%;
	background-color: #0395d0;
	color: white;
	border: 0;
	padding: 0 1% 1% 1%;
}
@media screen and (max-width: 700px) {
	.search_modal {
		width: 100%;
	}
}

/* SONG QUEUE */
.song_container {
	padding-top: 15px;
}
.vote_button {
	display: block;
	width: 25px;
}
.song_title {
	font-family: 'Sinkin-Sans100Thin';
	color: black;
}
